@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    
    background-color: rgb(39, 39, 43);
    color: rgb(223, 223, 223);
    font-size: 18px;
    font-weight: normal;
    font-family:'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: rgb(223, 223, 223);
}

a:hover{
    border-bottom: 1px solid rgb(102, 102, 102);
}

a:visited{
    color: rgb(173, 173, 173);
}

.container{
    max-width: 750px;
    margin: auto;
    margin-top: 50px;
}

.info{
    margin-bottom: 15px;
    display: flex;
    text-align: center;
}

.info .avatar{
    border-radius: 20%;
    width: 200px;
    height: 200px;
    box-shadow: 8px 8px 14px rgba(0, 0, 0, 0.35);
    margin-right: 20px;
}

.info .icon{
    filter: invert(1);
}

.info .icon:hover{
    transform: scale(1.1);
}

.info p{
    color: rgba(223, 223, 223, 0.87);
    font-style: italic;
    margin: 5px;
    font-size: 16px;
}

@media(max-width: 700px){
    .info{
        display: block;
        text-align: center;
    }
}

.card{
    padding: 5px 20px;
    margin-bottom: 15px;
    border: 3px solid rgba(0, 0, 0, 0.11);
    background: rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.card h3{
    padding: 5px;
    margin: 5px;
    text-align:center;
}

.list{
    padding: 0px 50px;
    list-style-type:square;
}

.list li{
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.11) ;
}

.table{
    width: 100%;
}

.table td{
    padding-bottom: 10px;
    border-top:3px solid rgba(0, 0, 0, 0.11);
}

.table td:nth-child(1){
    padding-right: 20px;
}


.skills{
    display:flow-root;
}

.skills div{
    float:left;
    margin: 10px;
    padding: 10px;
    border: 2px solid rgba(255, 245, 238, 0.541);
    background: rgba(128, 128, 128, 0.13);
    border-radius: 5px;
    cursor:default;
}

.skills div:hover{
    transform: scale(1.1);
    background: rgba(98, 70, 117, 0.13);
    border: 2px solid rgba(223, 209, 250, 0.575);
}

@media screen and (max-device-width: 700px){
    body {
        background-color: rgb(39, 39, 43);
        color: rgb(223, 223, 223);
        font-size: 12px;
        font-weight: normal;
        font-family:'Roboto', sans-serif;
    }
    
    .info{
        display: block;
        text-align: center;
    }

    .info p{
        color: rgba(223, 223, 223, 0.87);
        font-style: italic;
        margin: 5px;
        font-size: 10px;
    }

    .table td{
        font-size: 25px;
    }

    .skills div{
        font-size: 25px;
    }

    .list{
        font-size: 10px;
    }

    .skills div:hover{
        transform: none;
        background: rgba(98, 70, 117, 0.13);
        border: 2px solid rgba(51, 40, 58, 0.575);
    }

}

@media print {
    .info .icon{
        display: none;
    }

    .info .avatar{
        box-shadow: none;
        
    }

    .info{
        margin-bottom: 15px;
        display: flex;
        text-align: center;
    }

    .card{
        margin: 25px 0;
    }
}